bin/
obj/

ApplicationDbContextFactory.cs

**/.microsoft/usersecrets/secrets.json

Migrations/

.vscode/

*.suo
*.user
*.userosscache

appsettings.Development.json
appsettings.json
*.db
backend.http
Properties/launchSettings.json